.loading {
    width: 100%;
    height: 100%;

    border-radius: 50%;
    border: 8px solid var(--light);
    border-top: 8px solid var(--primary);
    opacity: .6;

    animation: spinner .8s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}