.app {
    min-height: 100vh;
    margin: auto;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

body {
    background-color: var(--bg-primary);
}

.noscroll {
    overflow: hidden;
}