/* Dark theme */
:root {
  --primary-muted: #b63c3c ;
  --primary: #ce4040;
  --primary-2: #ff6e65 ; 
  --primary-dark: #791717;

  --bg-primary:#161c2d;
  --bg-light: #121725 ;
  --bg-secondary: #060e1f;
  --bg-light-muted: #080b15;

  --dark: #333;
  --muted-dark: #939393;
  
  --light: #f4f4f4;
  --light-muted: #e0cccc;
  
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Montserrat', sans-serif;
}


/* ICONS */
.material-symbols-outlined {
  user-select: none;
  
font-variation-settings:
'FILL' 0,
'wght' 300,
'GRAD' 0,
'opsz' 30
}


/* ANIMATIONS */

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 300ms;
  animation-timing-function: ease-in;
}

